body {
  background-color: #6b8598;
}

nav {
  background-color: #334355;
}
div.main-content {
  margin-top: 20px;
}

img.product-thumbnail {
  width: 100px;
  height: auto;
}

div.product-grid-item {
  padding: 5px;
}

img.product-grid-preview {
  width: 100%;
  height: auto;
}

div.product-grid-item, div.product-list-item {
  background-color: #E7E6EF;
  color: #3c3b42;
  cursor: pointer;
}

div.product-list-item {
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 1.25rem;
}

div.product-list-item span.product-name {
  padding-left: 10px;
  font-size: 1.25rem;
}

div.product-list-item > span.product-price {
  float: right;
  margin-top: 38px;
  margin-right: 10px;
  font-style: italic;
}

div.list-toggle {
  margin: 0 30px 20px;
}

a.product-link {
  color: #3c3b42;
}

